* {
    margin: 0;
    border: none;
    padding: 0;
    font-family: monospace;
    color: #afbac5;
    background-color: #0d1017;
}

@media only screen and (min-width: 426px) {
    .title {
        font-size: 4rem;
    }
    .input-container {
        width: 55%;
    }
}

@media only screen and (max-width: 425px) {
    .title {
        font-size: 6rem;
    }
    .input-container {
        width: 70%;
    }
    .input-text {
        font-size: 1.5rem;
    }
    .input-button {
        font-size: 1.5rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2svh;
    margin-top: 25svh;
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    font-weight: 600;
    border-bottom: 0.2svw solid #afbac5;
    padding-bottom: 2svw;
    width: 70%;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 1svw;
}

.input-text {
    flex-grow: 7;
    padding: 1svh;
    border-bottom: #afbac5 0.1svw solid;
    border-radius: 10px;
    box-shadow: 0 4px 5px #bcc3c9;
}

.input-text:focus {
    outline: none;
}


.input-text::placeholder {
    opacity: 75%;
    color: #afbac5;
}

.output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin-left: 1svw;
    overflow-wrap: break-word;
}

.output-container > h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 1svw;
}